 body {
    background-color: #f8f0f3fd; /* Color de fondo */
    font-family: Arial, sans-serif; /* Tipo de letra */
    color: rgb(41, 39, 39); /* Color del texto */
    margin: 0;
}

h1 {
    color: #2c3e50;
    text-align: center;
}

.contenedor {
    max-width: 800px;
    margin: 0 auto; /* Centrar la página */
    padding: 20px;
    background-color: white; /* Caja blanca para el contenido principal */
}
